<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tareas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Lista de Tareas</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskDescription}"></td>
            <td>
                <a th:href="@{/editar/{id}(id=${task.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/eliminar/{id}(id=${task.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/crear" class="btn btn-primary">Crear Tarea</a>
</div>
</body>
</html>
